extends email-layout

block content
  p Welcome to Free House,
  p Luke Ramsden has sent you access the the investment materials.
  p Please follow the link below.
  +button(resetURL, 'Go to site →')
  p Best wishes,
  p Luke Ramsden
  br