doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Free House
    // Bootstrap core CSS
    link(href='../dist/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='../dist/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='../img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='../img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='../img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='../img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='../img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='../img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='../img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='../img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='../img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='../img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='../img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='../img/favicon/favicon-16x16.png')
    link(rel='manifest', href='../img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='../img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    // Custom styles for this template
    link(rel='stylesheet', href='../dist/agency.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    // Navigation
    // Header
    header.masthead
      .container
        img.masthead-badge(src='../img/logos/BadgesROW.jpg', alt='')
        .intro-text
          .intro-heading free house
          .intro-lead-in The Inclusive Member's Club with The World's First Social Currency
          .row.text-center
            .col-md-3
                form.form(action="/downloadProposal" method="POST")
                  button.fh-download-button(type="submit")
                    p business proposal
                    i.fa.fa-arrow-down
            .col-md-3
                form.form(action="/downloadValuation" method="POST")
                  button.fh-download-button(type="submit")
                    p valuation model
                    i.fa.fa-arrow-down
            .col-md-3
                form.form(action="/downloadFinancials" method="POST")
                  button.fh-download-button(type="submit")
                    p financial projections
                    i.fa.fa-arrow-down
            .col-md-3
                form.form(action="/downloadProperty" method="POST")
                  button.fh-download-button(type="submit")
                    p current property
                    i.fa.fa-arrow-down
    // Footer
    footer
      .container
        .row
          .col-md-4
            span.copyright Copyright © Free House London 2018
          .col-md-4
            ul.list-inline.social-buttons
              li.list-inline-item
                a(href='https://twitter.com/FreeHouseLDN' target='_blank')
                  i.fa.fa-twitter
              li.list-inline-item
                a(href='https://www.facebook.com/FreeHouseLDN' target='_blank')
                  i.fa.fa-facebook
              li.list-inline-item
                a(href='https://www.instagram.com/FreeHouseLDN' target='_blank')
                  i.fa.fa-instagram
              li.list-inline-item
                a(href='https://www.linkedin.com/Free-House-LDN' target='_blank')
                  i.fa.fa-linkedin
          .col-md-4
            ul.list-inline.quicklinks
              li.list-inline-item
                a(target="contact" href='/contact') Contact Us
              li.list-inline-item
                a(target="privacypolicy" href='/privacypolicy') Privacy Policy
              li.list-inline-item
                a(target="termsandconditions" href='/termsandconditions') Terms of Use
    block scripts
      script(src="/dist/jquery.min.js")
      script(src="/dist/App.bundle.js")
      script(src="/dist/agency.js")
      script(src="/dist/animation.js")
