extends layout

block content
  .nda-container
    h1 Free House Mutual Nondisclosure Noncircumvent Agreement
    p THIS NONDISCLOSURE AGREEMENT (this "Agreement") is entered into and effective as of the date the user agrees to the terms ("Effective Date"), where the User, ("User") and  [Reinventing The Local LTD] ("RTL") are introducing respective contacts (“contacts”) and business opportunities (“business opportunities”) to each other; each a Party (“Party”) and all together, the Parties (“Parties”); for mutual economic benefit.   In consideration for the Parties' agreement to participate in the activities described below, the Parties agree:
    ol
      li 
        strong Purpose.
        | In connection with discussions between the Parties and concerning evaluation of the business opportunities between the Parties (the "Purpose") and such other uses as agreed in any following projects, the Parties may find it beneficial to disclose to the others, certain information that the disclosing Party considers to be proprietary or confidential, or both, and which the disclosing Party desires to keep confidential ("Confidential Information").
      br
      li 
        strong Confidential Information.
        | "Confidential Information" means any and all information identified as confidential whether in written, graphic, oral, or electronic form, and provided to the receiving Parties hereto, which may include, but is not limited to, investment opportunities, projects,  partners, developers, management teams, business associates, service providers, clients, customers, marketing information, business activities and operations, trade secrets, discoveries, ideas, concepts, know-how, techniques, designs, specifications, drawings, diagrams, data, reports, studies and other business  information.  Confidential Information shall also include descriptions of the existence or progress of the above-described evaluation.  The Confidentiality Obligations in Paragraph 3 below shall not apply to disclosed information which: a receiving Party knows at the time of disclosure and to the best of receiving Party’s knowledge it is free of any obligation to keep it confidential; is or becomes generally publicly known through authorized disclosure; receiving Party independently developed without the use of any Confidential Information as evidenced by written records; or receiving Party obtains from a third party who is known to receiving Party to have the right to transfer or disclose it.
      br
      li 
        strong Protection of Confidential Information.
        | Each Party acknowledges that the other Parties claims its Confidential Information as a special, valuable and unique asset.  For itself and on behalf of its officers, directors, agents, employees, affiliates, group companies and subsidiaries, each Party agrees to the following:   Receiving Party will not disclose the Confidential Information to any third party unless such third party has a need to know the Confidential Information and is subject to a binding and enforceable confidentiality or nondisclosure agreement with receiving Party.  Receiving Party will use the Confidential Information only for the Purpose and will not use it for any other reason but to do business with the Party providing the data. In no event shall receiving Party use less than the same degree of care to protect the Confidential Information as it would employ with respect to its own information of like importance, which it does not desire to have published or disseminated.  If a receiving Party faces legal action or is subject to legal proceedings requiring disclosure of Confidential Information, then, prior to disclosing any such Confidential Information, the receiving Party shall promptly notify the disclosing Party unless prohibited by law and, upon the disclosing Party's request, shall cooperate with the disclosing Party in contesting such request.
      br
      li 
        strong Return of Confidential Information.
        | All information furnished under this Agreement shall remain the property of the disclosing Party and shall be returned to it or destroyed or purged promptly at its request.  All documents, memoranda, notes and other tangible embodiments whatsoever prepared by a receiving Party based on or which includes Confidential Information shall be destroyed to the extent necessary to remove all such Confidential Information upon the disclosing Party's request.  All destruction under this Paragraph 4 shall be certified in writing to the disclosing Party by an authorized officer of the receiving Party.  Notwithstanding the foregoing, we Floreat, our affiliates and agents shall be entitled to retain one copy of the Confidential Information if required by any applicable law, rule or regulation.
      br
      li 
        strong Use of and access to contacts provided by the Parties.
        | Furthermore, Parties have provided, and will continue to provide, where appropriate, introductions to various individuals, companies, advisers, contacts and sources of investors and investment opportunities in respect of this and other investment opportunities.  The Parties hereby agree that such contacts are proprietary to originating Party and the counterparty will not approach, engage or contract with any of such persons in relation to this investment opportunity, or any other project, development opportunity, potential investment, or business activity now or in the future without prior written consent from the originating Party. This applies to the individuals introduced by a Party to the other Parties, to employers, employees, companies, or other entities, related entities, subsidiaries or otherwise related people or entities. No Party shall invest in, receive investment from, be engaged to provide services in respect of or otherwise benefit from any commercial arrangement in respect of this or other such related investments without prior written consent. 
      br
      li 
        strong No License or Warranty.
        | Except as expressly set forth in this Agreement, no license under any patents, copyrights, mask rights or other proprietary rights is granted or con-veyed by any Party's transmittal of Confidential Information or other information to the other Parties under this Agreement.  THE INFORMATION IS PROVIDED "AS IS" AND THERE ARE NO REPRESENTA¬TIONS OR WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO THE INFOR-MATION, INCLUDING BUT NOT LIMITED TO A WARRANTY AGAINST INFRINGEMENT, ACCURACY OR COMPLETENESS. The receiving Party agrees that the disclosing Party shall have no liability resulting from the use of the Confidential Information or such other information, unless otherwise agreed to in writing.
      br
      li 
        strong No Inducement or Commitment.
        | Confidential Information provided to a Party does not and is not intended to represent an inducement by the disclosing Party or a commitment by the disclosing Party to enter into any business relationship with the receiving Party or with any other entity.  If the Parties desire to pursue business opportunities, the Parties will execute a separate written agreement to govern such business relationship.
      br
      li 
        strong Equitable Relief.
        | Each Party acknowledges that its breach of this Agreement may result in immediate and irreparable harm to the disclosing Party, for which there will be no adequate remedy at law, and the disclosing party shall be entitled to equitable relief to compel the receiving Party to cease and desist all unauthorized use and disclosure of the disclosing Party's Confidential Information.
      br
      li 
        strong Effective Date and Termination.
        | This Agreement shall be effective from the Effective Date specified below and shall continue for two (2) years following the return of all Confidential Information in accordance with Paragraph 4 above when accom¬panied by a written notice of termination.
      br
      li 
        strong Assignment and Binding Effect.
        | No Party may assign this Agreement without the other Parties’ prior written consent, and any assignment in violation of this Agreement shall be void.  This Agreement shall benefit and be binding upon the Parties to this Agreement, their respective successors and permitted assigns.
      br
      li 
        strong Jurisdiction, Venue and Attorneys’ Fees.
        | The courts of England shall have exclusive jurisdiction over any dispute arising out of or relating to this Agreement, and each Party hereby consents to the jurisdiction of such courts. The Parties agree that this Agreement is made and entered into in London, United Kingdom.  This Agreement shall be governed by and construed in accordance with the laws of England exclusive of its choice of law principles.  In the event of any dispute concerning our respective rights and obligations under this agreement, the prevailing Party should be entitled to receive from the other reasonable expenses, attorney's fees, and costs.
      br
      li 
        strong Miscellaneous.
        | This Agreement embodies the entire understanding between the Parties respecting the subject matter of this Agreement and supersedes any and all prior negotiations, correspondence, understandings and agreements between the Parties respecting the use and disclosure of Confidential Information, but does not preclude any subsequent agreements between the Parties.  This Agreement shall not be modified except by a writing duly executed on behalf of the Party against whom such modification is sought to be enforced.  The failure of any Party to require performance by another Party of any provision of this Agreement shall in no way affect the full right to require such performance at any time thereafter.  Should any provisions of this Agreement be found unenforceable, the remainder shall still be in effect.  This Agreement has been negotiated by the Parties and their respective attorneys, and the language of this Agreement shall not be construed for or against any Party.  The headings are not part of this Agreement.  Either the original or copies, including facsimile transmissions, of this Agreement, may be executed in counterparts, each of which shall be an original as against any Party whose signature appears on such counterpart and all of which together shall constitute one and the same instrument.
