extends layout

block content
  .inner
    form.form(action="/register" method="POST")
      h2 Register
      label(for="name") Name
      input(type="text" name="name")
      label(for="name") Company
      input(type="text" name="company")
      label(for="email") Email
      input(type="email" name="email")
      //- label(for="email") Survey
      //- input(type="email" name="survey")
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      p By selecting I agree you confirm you have read and accept our 
        a(target="nda" href='/nda') nondisclosure agreement.
      div.flex
        label(htmlFor='terms') I agree
        input.check-box(type="checkbox" id="terms" name="terms")
      input.button(type="submit" value="Register →")
