extends layout

block content
  .inner
    form.form(action="/register" method="POST")
      h2 Welcome {name}, please set a password
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      p By clicking here you confirm you have read and accept our terms and conditions.
      input(type="checkbox" name="terms-and-conditions")
      input.button(type="submit" value="Register →")
