extends layout

block content
  .inner
    form.form(method="POST")
      h2=`Hi ${user.name},`
      p Before accessing Free House, we need to you to agree to some Terms and Conditions, including a non-disclosure agreement.
      
      p By selecting 'I accept' you confirm you have read and accept our terms and conditions.
      input.button(type="submit" value="I accept")
    //-   div.termscheck
    //-     label(htmlfor='accept') I Accept
    //-     input.styled-checkbox(id='accept' type="checkbox" name="terms-and-conditions")

