extends layout

block content
  .inner
    form.form(method="POST")
      h2=`Hi ${user.name},`
      p Before accessing Free House, we need to you to agree to some terms and conditions.
      p By selecting I agree you confirm you have read and accept our 
        a(target="nda" href='/nda') nondisclosure agreement.
      div.flex
        label(htmlFor='terms') I agree
        input.check-box(type="checkbox" id="terms" name="terms")
      input.button(type="submit" value="Submit")